body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tombol-sosmed a {
	display: inline-flex;
	text-decoration: none;
	font-size: 18px;
	width: 60px;
	height: 60px;
	color: white;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 8px;
}

.tombol-sosmed a::before {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	background: linear-gradient(45deg,lightsteelblue,steelblue);
	border-radius: 50%;
	z-index: -1;
	transition: 0.3s ease-in;
}

.tombol-sosmed a:hover::before {
	transform: scale(0);
}

.tombol-sosmed a i {
	transition: 0.3s ease-in;
}

.tombol-sosmed a:hover i {
	background: linear-gradient(45deg,lightsteelblue,steelblue);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}